In [9]:
import pandas as pd
import numpy as np
dados = {
        'Nome': ['Pedro','Maria','Janaina','Wong','Roberto','Marco','Paula','Lolo'],        
        "Cidade": ['Porto Alegre','São Paulo','Rio Janeiro','Brasília','Salvador','Curitiba','Belo Horizonte','Alvorada'],
        "Idade": [14,13,15,16,18,13,14,17],
        'Nota': [83.0, 59.0, 86.0, 89.0, 98.0, 61.0, 44.0,78.0],
        }

dfAlunos = pd.DataFrame(data=dados)
print (dfAlunos)

      Nome          Cidade  Idade  Nota
0    Pedro    Porto Alegre     14  83.0
1    Maria       São Paulo     13  59.0
2  Janaina     Rio Janeiro     15  86.0
3     Wong        Brasília     16  89.0
4  Roberto        Salvador     18  98.0
5    Marco        Curitiba     13  61.0
6    Paula  Belo Horizonte     14  44.0
7     Lolo        Alvorada     17  78.0